In [2]:
import sqlite3

conn = sqlite3.connect("student.db")
c = conn.cursor()

try:
    c.execute('''CREATE TABLE student (
        student_id text PRIMARY KEY NOT NULL,
        first_name text NOT NULL,
        last_name text NOT NULL)''')
except sqlite3.OperationalError as e:
    print('sqlite error:', e.args[0])  # table already exists

conn.commit()



print('done')

done

In [17]:
def add_newStudent():
    with conn:
        s_id= input("please enter new id number")
        firstName= input("enter first name")
        lastName= input("enter last name")
        #c.execute("INSERT INTO students VALUES('studentId', 'firstName', 'lastName')")
        c.execute("INSERT INTO STUDENT (student_id,first_name, last_name) values (?, ?, ?)",
                (s_id, firstName, lastName))
    
def search_student():
    with conn:
        student_id=input("enter student ID you want to search")
        c.execute("SELECT * FROM student WHERE student_id= ?",(student_id,))
        conn.commit()
        return c.fetchone()
    
def tabletest():
    c.execute("SELECT* FROM student")
    rows=c.fetchall()
    
    for row in rows:
        print(row)
        
def delete_student():
    with conn:
        student_id=input("enter studentID to delete student records")
        c.execute('DELETE FROM student WHERE student_id=?',(student_id,))
        conn.commit()
        
def update_studentinfo():
    with conn:
        student_id= input("enter student id of the student you want to update information on")
        new_value= input("enter new value?")
        #c.execute('''UPDATE student SET first_name = ? WHERE student_id = ?''', (newPrice, book_id))
        c.execute('''UPDATE student SET first_name = ? WHERE student_id = ?''', (new_value, student_id))
        conn.commit()



#print(c.fetchone())
tabletest()
update_studentinfo()
tabletest()

#add_newStudent()

#var= input("student id u wanna search")
#print(search_student(var))
#x=search_student(var)

('s1', 'john', 'williams')
('s2', 'michelle', 'sorenson')
('s3', 'william smithson', 'smithson')
('s4', 'miguel', 'posada')
enter student id of the student you want to update information ons1
enter new value?walter
('s1', 'walter', 'williams')
('s2', 'michelle', 'sorenson')
('s3', 'william smithson', 'smithson')
('s4', 'miguel', 'posada')

In [19]:
try:
    c.execute('''CREATE TABLE classes (
        class_id text PRIMARY KEY NOT NULL,
        class_name text NOT NULL,
        instructor text NOT NULL)''')
except sqlite3.OperationalError as e:
    print('sqlite error:', e.args[0])  # table already exists

conn.commit()

sqlite error: table classes already exists

In [21]:
def add_newclass():
    with conn:
        c_id= input("please enter class id number")
        className= input("enter class name")
        instructorName= input("enter instructor name")
        #c.execute("INSERT INTO students VALUES('studentId', 'firstName', 'lastName')")
        c.execute("INSERT INTO classes (class_id,class_name, instructor) values (?, ?, ?)",
                (c_id, className, instructorName))

def tabletestClass():
    c.execute("SELECT* FROM classes")
    rows=c.fetchall()
    
    for row in rows:
        print(row)
        
add_newclass()
add_newclass()
tabletestClass()

please enter class id numbercs1301
enter class namec++
enter instructor namedakota
please enter class id numbercs3300
enter class nameData base
enter instructor nameyuan
('cs1301', 'c++', 'dakota')
('cs3300', 'Data base', 'yuan')

In [23]:
try:
    c.execute('''CREATE TABLE enrollment (
        student_id text PRIMARY KEY NOT NULL,
        class_id text NOT NULL,
        class_id text NOT NULL,
        class_id text NOT NULL,
        class_id text NOT NULL,
        class_id text NOT NULL)''')
except sqlite3.OperationalError as e:
    print('sqlite error:', e.args[0])  # table already exists

conn.commit()

sqlite error: duplicate column name: class_id